    
    <nav>
      <div class="nav-content">
          <div class="logo">
              <a href="#">TourismApp.</a>
          </div>
          <ul class="nav-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Explore</a></li>
              <li><a href="#">Contact</a></li>
              <a  routerLink="/register"><button class="styled-button">Join Us</button></a>
          </ul>
      </div>
  </nav>



  <!--Hero section-->
  <section class="hero-section">

      <div>
          <p class="hero-text">
              Discover hidden gems and unforgettable<br>
              experiences across Tunisia, Start your <br>
              journey today !<br>
          </p>
      </div>
      
      <a href="C:\Users\User\Desktop\Stage\sign in\sign in\index.html"><button class="styled-button2">Explore Now</button></a>
      <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

  <dotlottie-player class="animation" src="https://lottie.host/9f376b4c-fbda-43f8-a819-affe768fe8b5/QqBa9QasLS.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->
  
  </section>

 <!--Categories-->

 <section class="categories">
  <div>
      <h1 class="categorie-title">Categories</h1>
  </div>
  <div class="cards">

      <section class="articles">
          <article>
            <div class="article-wrapper">
              <figure>
                <img src="https://picsum.photos/id/1011/800/450" alt="" />
              </figure>
              <div class="article-body">
                <h2>Nature & Advanture</h2>
                <p>
                  Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                </p>
                <a href="#" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://i.postimg.cc/3JhRYFZ8/Things-To-Do-In-Carthage-Tunisia.webp" alt="" />
              </figure>
              <div class="article-body">  
                <h2>Historical & Arts</h2>
                <p>
                  Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                </p>
                <a href="#" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
          <article>
        
            <div class="article-wrapper">
              <figure>
                <img src="https://i.postimg.cc/c1wHpbwk/1-bf39uqyl8vyeg-vmzxt3ta.jpg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Culinary Tourism</h2>
                <p>
                  Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
                </p>
                <a href="#" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="https://i.postimg.cc/c1wHpbwk/1-bf39uqyl8vyeg-vmzxt3ta.jpg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>

  </div>
  
</section>
<!--Events-->
<section class="events">
  <div>
      <h1 class="events-title">Events and Festivals</h1>
  </div>
  <article class="cta">
      <img src='https://i.postimg.cc/ZYvBTLv2/w.webp' alt='Bluetit'>
      <div class="cta__text-column">
          <h2>Don't miss out the fun of Tunisian festivals</h2>
          <p>Check out the dates of upcoming events.</p>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio">Read all about it</a>
      </div>
  </article>
  
  <article class="cta">
      <img src='https://i.postimg.cc/KYdbQtc3/festival-of-the-medina.webp' alt='Small blue-grey yellow-breasted bird'>
      <div class="cta__text-column">
          <h2>You can find the best events for you !</h2>
          <p>keep track of all the tunisian fests and your favourite upcoming events to attend, Check them out here !</p>
          <p>Explore the vibrant culture of Tunisia by attending local festivals and events. Whether you're interested in music, art, food, or traditional celebrations, there's something for everyone. Don't miss out on the exciting experiences that await you!</p>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio">Read all about it</a>
      </div>
  </article>
</section> 


<!--Footer-->
<!--FONT AWESOME-->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!--GOOGLE FONTS-->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">  -->
<body>
<footer>
<div class="footer">
<div class="row">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-youtube"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
</div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Career</a></li>
</ul>
</div>

<div class="row">
TourismApp Copyright © 2024 - All rights reserved 
</div>
</div>
</footer>


<!-- <script>
  let nav = document.querySelector("nav");
  window.onscroll = function() {
      if(document.documentElement.scrollTop > 20){
          nav.classList.add("sticky");
      }else {
          nav.classList.remove("sticky");
      }
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->
